[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
autopep8 = "*"
celery = "*"
django-admin-interface = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
django-redis = "*"
django-silk = "*"
django-templated-mail = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
locust = "*"
pillow = "*"
model-bakery = "*"
gunicorn = "*"
psycopg2-binary = "*"
redis = "*"
pytest = "*"
pytest-django = "*"
whitenoise = "*"
watchdog = "*"
pyjwt = "*"
django-filter = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.10"
