<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}My amazing site{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>
</head>

<body>
    <header>
        {% include "base/navbar.html" %}
    </header>
    <span></span>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    {% include "base/footer.html" %}

    <script src="{% static 'main.js' %}"></script>
</body>

</html>