<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/favicon.ico">
    <title>
        404
    </title>
    <link rel='stylesheet' href="{% static 'css/404.css' %}" type='text/css'>
</head>

<body>
    <div id="main">
        <div class="fof">
            <h1>Error 404</h1>
            <a href="/">Go Home</a>
        </div>
    </div>
</body>