{% extends "base/base.html" %}

{% block title %}Storefront | Home{% endblock %}

{% block content %}
<section class="hero is-danger is-fullheight">
    <div class="hero-body">
        <div class="">
            <p class="title">
                Storefront
            </p>
            <p class="subtitle">
                A flexible and Scalable API for e-commerce
            </p>
            <p class="subtitle">
                Check Documentation Down bellow
            </p>
        </div>
    </div>
</section>
<div id="documentation">
    <section class="section is-medium">
        <h1 class="title">Documentation</h1>
        <h2 class="subtitle">
            Documentation <strong>sections</strong>, Coming soon.
        </h2>
    </section>
</div>
{% endblock %}