version: '3.10'
services:
  web:
    build: .
    command: ./wait-for-it.sh postgres:5432 -- ./docker-entrypoint.sh
    ports:
      - 8000:8000
    depends_on:
      - redis
      - postgres
    restart: on-failure
    volumes:
      - .:/app
  postgres:
    image: postgres:14.1-alpine
    ports:
      - 5432:5432
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=2609
      - POSTGRES_DB=storefront
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:6.2-alpine
    ports:
      - 6379:6379
    restart: always
    volumes:
      - redisdata:/data
  smtp4dev:
    image: rnwood/smtp4dev:v3
    ports:
      - 5000:80
      - 25:25
    restart: always
  celery:
    build: .
    command: celery -A core worker --loglevel=info
    depends_on:
      - redis
    volumes:
      - .:/app
  celery-beat:
    build: .
    command: celery -A core beat --loglevel=info
    depends_on:
      - redis
    volumes:
      - .:/app
  flower:
    build: .
    command: celery -A core flower
    depends_on:
      - web
      - redis
      - celery
    environment:
      - DEBUG=1
      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    ports:
      - 5555:5555
  tests:
    build: .
    command: ./wait-for-it.sh postgresql:5432 -- ptw
    depends_on:
      - redis
      - postgres
    tty: true
    volumes:
      - .:/app
volumes:
  mysqldata:
  pgdata:
  redisdata: